$primary: #2F4550;
$primary-dark: #2D2D2D;
$primary-light: #989898;
$secondary: #677743;
$secondary-dark: #434343;
$secondary-light: #E2E2E1;
$tertiary: $secondary;
$accent: #B94019;

$black: #222;
$white: #fff;

$gray-base:              $black;
$gray-darker:            lighten($gray-base, 13.5%);
$gray-dark:              lighten($gray-base, 20%);
$gray:                   lighten($gray-base, 33.5%);
$gray-light:             lighten($gray-base, 46.7%);
$gray-lighter:           lighten($gray-base, 93.5%);

$brand-primary:         $primary;
$brand-success:         $secondary;
$brand-info:            #5bc0de !default;
$brand-warning:         $tertiary;
$brand-danger:          $accent;

$grayscale-primary: $accent;
$grayscale-dark: $primary-dark;
$grayscale-light: $secondary-light;

$grayscale-body-font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
$grayscale-headline-font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;

$imagePath: "../images";
$fontPath: "../fonts";